# Python関連
*.pyc
__pycache__/
*.pyo
*.pyd
# 環境変数ファイル
.devcontainer/.env
prod.env
# IDEやエディタ関連
.vscode/
# ログファイル
*.log
# カバレッジレポート
coverage.xml
# キャッシュ
.pytest_cache/
.coverage
*.coverage
# 特定フォルダ,ファイル
task/env.txt
push_to_ecr.sh
.devcontainer/init.sql