# Python関連
*.pyc
__pycache__/
*.pyo
*.pyd
# 環境変数ファイル
env/
# ログファイル
*.log
# カバレッジレポート
pytest.xml
pytest-coverage.txt
coverage.xml
# キャッシュ
.pytest_cache/
.coverage
*.coverage
# 特定フォルダ,ファイル
push_to_ecr.sh
.venv
.env